html {
    height: 100%;
    background-color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.contact-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
}

.contact-form h1 {
    font-size: 45px;
    margin-bottom: 20px;
    width: 100%;
}

.field {
    width: 100%;
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

.contact-form button {
    background-color: #17a2b8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #138496;
}
